<ion-view title="My Alerts">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" style="background:#F5F5F5;" has-bouncing="true">
    <ion-list>
      <div class="item item-divider ">Weather (1)</div>
      <ion-item item="reminder"  href="#/app/reminders/1">
        <i class="icon ion-ios7-cart-outline"  style="top:-5px;"></i>
        <span>test Alert on 7:00pm - daily</span> 
        <ion-option-button class="button-light" ng-click="editReminder(reminder.reminder_id)" style="background:#eee">
          Edit
        </ion-option-button>
        <ion-option-button class="button-dark" ng-click="deleteReminder(reminder)">
          Delete
        </ion-option-button>
        <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    
      <div class="item item-divider">Traffic (0)</div>
      <ion-item item="reminder"  href="#/app/reminders/1">
        <i class="icon ion-ios7-cart-outline"  style="top:-5px;"></i>
        <span>test Alert on 7:00pm - daily</span> 
        <ion-option-button class="button-light" ng-click="editReminder(reminder.reminder_id)" style="background:#eee">
          Edit
        </ion-option-button>
        <ion-option-button class="button-dark" ng-click="deleteReminder(reminder)">
          Delete
        </ion-option-button>
        <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
  
      <div class="item item-divider">Mrt Service Status (0)</div>
    </ion-list>
  </ion-content>
</ion-view>
