<ion-view title="My Alerts">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" has-bouncing="true" overflow-scroll="false">
    <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
      </ion-refresher>
    <ion-list>
      <div class="item item-divider ">Weather ({{weatherAlerts.length}})</div>
      <ion-item item="alert" ng-repeat="alert in weatherAlerts">
        <i class="icon ion-ios7-cart-outline"  style="top:-5px;"></i>
        <span style="display:block">{{ alert.name }}</span>
        <small><i class="icon ion-android-pin active"></i> {{alert.location}}</small> /
        <small><i class="icon ion-android-time"></i> {{alert.set_date}}</small> 
        <ion-option-button class="button-light" ng-click="editReminder(reminder.reminder_id)" style="background:#eee">
          Edit
        </ion-option-button>
        <ion-option-button class="button-dark" ng-click="deleteReminder(reminder)">
          Delete
        </ion-option-button>
        <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    
      <div class="item item-divider">Traffic ({{trafficAlerts.length}})</div>
      <ion-item  item="alert" ng-repeat="alert in trafficAlerts">
        <i class="icon ion-ios7-cart-outline"  style="top:-5px;"></i>
        <span style="display:block">{{ alert.name }}</span>
        <small><i class="icon ion-android-pin active"></i> {{alert.location}}</small> /
        <small><i class="icon ion-android-time"></i> {{alert.set_date}}</small> 
        <ion-option-button class="button-light" ng-click="edsitReminder(reminder.reminder_id)" style="background:#eee">
          Edit
        </ion-option-button>
        <ion-option-button class="button-dark" ng-click="deleteReminder(reminder)">
          Delete
        </ion-option-button>
        <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
  
      <div class="item item-divider">Mrt Service Status ({{mrtAlerts.length}})</div>
      <ion-item  item="alert" ng-repeat="alert in mrtAlerts">
        <i class="icon ion-ios7-cart-outline"  style="top:-5px;"></i>
        <span style="display:block">{{ alert.name }}</span>
        <small><i class="icon ion-android-time"></i> {{alert.set_date}}</small> 
        <ion-option-button class="button-light" ng-click="editReminder(reminder.reminder_id)" style="background:#eee">
          Edit
        </ion-option-button>
        <ion-option-button class="button-dark" ng-click="deleteReminder(reminder)">
          Delete
        </ion-option-button>
        <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
