<ion-view view-title="Create Alert">
  <ion-content overflow-scroll="false">
    <form ng-submit="createAlert()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Alert Name</span>
          <input type="text" placeholder="Input Alert Name">
        </label>
        <label class="item item-input item-select" ng-if="category_id == 2">
            <div class="input-label">
              Line Name
            </div>
            <select>
              <option value="Edsa">Edsa</option>
              <option value="Commonwealth">Commonwealth</option>
              <option value="Quezon Ave.">Quezon Ave.</option>
              <option value="Espana">Espana</option>
              <option value="C5">C5</option>
              <option value="Ortigas">Ortigas</option>
              <option value="Marcos Highway">Marcos Highway</option>
              <option value="Roxas Blvd.">Roxas Blvd.</option>
              <option value="SLEX">SLEX</option>
              <option value="NLEX">NLEX</option>
            </select>
          </label>
          <label class="item item-input item-select" ng-if="category_id == 2">
            <div class="input-label">
              Point Name
            </div>
            <select>
              <option value="Balintawak">Balintawak</option>
              <option value="North Ave.">North Ave.</option>
              <option value="Trinoma">Trinoma</option>
              <option value="Quezon Ave.">Quezon Ave.</option>
              <option value="Kamuning">Kamuning</option>
              <option value="P. Tuazon">P. Tuazon</option>
              <option value="Main Ave.">Main Ave.</option>
              <option value="Ortigas Ave.">Ortigas Ave.</option>
              <option value="Shaw Blvd.">Shaw Blvd.</option>
              <option value="Pioneer Boni">Pioneer Boni</option>
            </select>
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit">Save</button>
          </label>
      </div>
    </form>
  </ion-content>
</ion-view>
