<ion-view>
  <ion-content padding="true" class="has-header" align="center" overflow-scroll="false">
    <h1>Heads Up</h1><br>
    <div>
      <div class="item item-input-inset">+63 &nbsp;
        <label class="item-input-wrapper">
          <input type="tel" placeholder="Enter Mobile Number" required ng-model="input.mobileNumber" maxlength="10" style="height:46px; border-radius:0px;" ng-pattern="onlyNumbers">
        </label>
        <button class="button button-positive" ng-click="login()">
          Login
        </button>
      </div>
      <br>
      <small>Note: To register text INFO to 21585527</small>
    </div>
  </ion-content>
</ion-view>
